<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

</head>
<body>

<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="Гарри Поттер.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="Рон Уизли.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="Гермиона Грейнджер.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Предыдущий</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Следующий</span>
  </button>
</div>

    <div class="card" style="width: 18rem;">
        <img src="Гарри Поттер.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Гарри Поттер</h5>
            <p class="card-text">Литературный персонаж, главный герой серии романов английской писательницы Джоан Роулинг.

На одиннадцатый день рождения Гарри узнаёт, что является волшебником, и ему уготовано место в школе волшебства «Хогвартс», в которой он будет практиковать магию под руководством директора Альбуса Дамблдора и других школьных профессоров.</p>
            <a href="https://yandex.ru/video/preview/12799117705580504660" class="btn btn-outline-success">Смотреть фильм</a>
        </div>
    </div>

 <div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Гарри Поттер
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>Гарри Поттер</strong> появился на свет 31 июля в семье волшебников Лили и Джеймса Поттеров, которые погибли во время нападения тёмного волшебника Лорда Волан-де-Морта, а сам Гарри был единственным, кто смог пережить нападение, благодаря чему и стал известен в магическом мире как «Мальчик-который-выжил». Семья Поттеров жила в Годриковой впадине.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Рон Уизли
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>Рональд Билиус Уизли.</strong> Шестой из детей Артура и Молли Уизли. Как и его родители, лояльно относится к маглам и маглорождённым волшебникам.
Мать Рона часто ставит старших детей в пример младшим, и Рон — не исключение. Из-за этого у него выработался комплекс «второсортности». Поступив в Хогвартс, Рон надеется в чём-то превзойти братьев… По иронии судьбы, его лучшими друзьями становятся знаменитый на весь волшебный мир Гарри Поттер и самая способная студентка на курсе Гермиона Грейнджер.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        Гермиона Грейнджер
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>Гермио́на Джин Гре́йнджер</strong> одна из главных героинь цикла романов о Гарри Поттере наряду с её однокурсниками Гарри Поттером и Роном Уизли. Ученица школы Хогвартс, талантливая молодая волшебница, вундеркинд.
      </div>
    </div>
  </div>
</div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</body>
</html>